*{
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Google Sans Regular", sans-serif;
    box-sizing: border-box;
}


body {
    margin: 0;
    background: #11101b;
  
}

img {
    display: block;
    max-inline-size: 100%;
    height: auto;
    margin: 0 auto;

    padding: 100px 0%;
    box-sizing: border-box;
}

@media only screen and (max-width: 1320px) {
    img {
      padding: 100px 2%; 
    }
}
  

  @media only screen and (max-width: 900px) {
    img {
      padding: 80px 4%; 
    }
}
  
  @media only screen and (max-width: 600px) {
    img {
      padding: 60px 6%; 
    }
}

.intro-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fefefe;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 5%; /*padding for full screen*/
}


@media only screen and (max-width: 1320px) {
    .intro-text {
      padding: 0 10%; 
    }
}
  

  @media only screen and (max-width: 900px) {
    .intro-text {
      padding: 0 8%; 
    }
}
  
  @media only screen and (max-width: 600px) {
    .intro-text {
      padding: 0 4%; 
    }
}

header {
    width: 100%;
    height: 80px;
    background: #11101b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #fefefe;
}
.hamburger {
    display: none;
}
.nav-bar ul {
    display: flex;
}
.nav-bar ul li a {
    display: block;
    color: #fefefe;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}
.nav-bar ul li a:hover {
    color: #11101b;
    background: #fefefe;

}
.nav-bar ul li a.active {
    color: #11101b;
    background: #fefefe;

}
@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }

}
@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }

}
@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px;
    }
    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.5s;
        overflow: hidden;
    }
    .nav-bar.active {
        height: 450px;

    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
    }
    .nav-bar.active ul{
        opacity: 1;
        
    }
    .nav-bar ul li a {
        margin-bottom: 12px;
        
    }
}

.social-links {
    display: flex;
    gap: 20px; 
}
  

.social-links a {
    text-decoration: none; 
    transition: opacity 0.3s; 
}
  

.social-links a:hover {
    opacity: 0.7; 
}

.card-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/*Project-Cards*/
.card {
    display: block;
    width: 80%; 
    max-width: 1250px; 
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    
    
  }

  .card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }

  .card img {
    object-fit: cover;
    width: 100%;
    height: 600px;
    display: block;
  }

  .card-content {
    padding: 22px;
  }

  .card-title {
    font-size: 1.2em;
    margin: 0 0 8px;
  }

  .card-description {
    font-size: 0.95em;
    color: #555;
    width: 80%; 
    max-width: 800px;
  }

.columns {
    float: left;
    width: 50%;
    padding: 12px;
    min-height: 300px;
}

.rows:after {
    content: "";
    display: table;
    clear: both;
    
}

@media screen and (max-width: 768px) {
    .columns {
        width: 100%;
    }
}

.center-div {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

th, td {
    border-style: none;
    padding: 16px;
    width: 200px;
  
}

